.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
a{
    color: black;
}
.dispoDot {
    height: 10px;
    width: 10px;
    background-color: rgb(20, 153, 2);
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.indispoDot {
    height: 10px;
    width: 10px;
    background-color: rgb(153, 2, 2);
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}


.dispo{
    color: rgb(20, 153, 2);
    font-style: italic;
}

.indispo{
    color:  rgb(153, 2, 2);
    font-style: italic;
}
